<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>         
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <!--      UPRAVOVAT POUZE POLOŽKU VALUE!!!!! Nastavení je ve tvaru : Cesta k souboru, jméno listu, číslo řádku, číslo sloupce, popis buňky -->
    <!--      START BUNKY 1     -->
    <add key="excel1" value="\\192.168.1.1\vol1\DEPARTMENTS\PRODUCTION\Internal\TRS (MOR)\2018\Machines\test\22MORMC201804.xlsx,SHAFT,15,37,SHAFTX"/>
    <!--      END BUNKY 1       -->
    <!--      START BUNKY 2     -->
    <add key="excel2" value="\\192.168.1.1\vol1\DEPARTMENTS\PRODUCTION\Internal\TRS (MOR)\2018\Machines\test\MORMC201804.xls,D V,7,36,DV"/>
    <!--      END BUNKY 2       -->
    <!--      START BUNKY 3     -->
    <add key="excel3" value="\\192.168.1.1\vol1\DEPARTMENTS\PRODUCTION\Internal\TRS (MOR)\2018\Machines\test\MORMC201804.xls,EFP,15,41,EFP"/>
    <!--      END BUNKY 3       -->
    <!--      START BUNKY 4     -->
    <add key="excel4" value="\\192.168.1.1\vol1\DEPARTMENTS\PRODUCTION\Internal\TRS (MOR)\2018\Machines\test\MORMC201804.xls,SPG,15,36,SPG"/>
    <!--      END BUNKY 4       -->
    <!--      Cyklus Obnovení       -->
    <add key="interval" value="5"/>   
  </appSettings>  
</configuration>
